.footer{
	flex: 0 0 auto;
	position: relative;
	padding: 70px 0;
	background: #ffffff;
		&__text{
		font-family: 'SegoeUIRegular', 'Roboto', sans-serif;
		font-size: 16px;
		color: #9c9c9c;
		text-align: center;
		a{
			font-size: 16px;
			color: $footerText;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
