//DEFAULT STYLE//
.top-line{
	position: relative;
	@include clearfix;
	&__logo{
		display: inline-block;
		margin-top: 24px;
		@include MQ(sm) {
			
		}
		@include MQ(xs) {
			display: block;
			float: none;
			text-align: center;
			margin-left: 0;
			margin-top: 15px;
		}
	}
	&__shop{
		display: block;
		font-size: 16px;
		background: rgba(255,255,255,.2);
		color: #fff;
		text-align: center;
		padding: 14px 14px;
		border-radius: 25px;
		margin: 9px 0;
		transition:1s all;
		@include MQ(sm) {
			margin-right: 10px;
		}
		@include MQ(xs) {
			float: none;
			font-size: 1em;
			margin-right: 0;
		}
		&:hover{
			transition:1s all;
			color: #fff;
			background: rgba(255,255,255,.1);
		}
	}
}

.top-banner{
	position: relative;
	&__img{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.header-title-wrapper{
	@include clearfix;
	padding-top: 90px;
	text-align: left;
}

.header{
	position: relative;
	background: #5243e4 url(../img/header-bg.jpg)no-repeat center center;
	min-height: 598px;
	&-title{
		font-family: 'SegoeUI', 'Roboto', sans-serif;
		font-size: 72px;
		color: #fff;
		font-weight: 300;
		margin: 0 0 40px 0;
		span{
			font-family: 'SegoeUI', 'Roboto', sans-serif;
			font-weight: 600;
		}
		&__text{
			font-family: 'SegoeUI', 'Roboto', sans-serif;
			font-size: 18px;
			font-weight: 300;
			color: #fff;
			position: relative;
			z-index: 101;
			margin-bottom: 70px;
		}
		&__btn{
			font-family: 'SegoeUILight', 'Roboto', sans-serif;
			font-size: 18px;
			color: #fff;
			text-align: center;
			border-radius: 25px;
			border:1px solid #fff;
			padding: 12px 65px;
			display: inline-block;
			position: relative;
			z-index: 110;
			transition:1s all;
			&:hover{
				transition:1s all;
				background: #fff;
				border:1px solid #fff;
				color: #46a6e3;
			}
		}
	}
}

.header__banner{
	display: block;
	margin: 0 auto;
}

.header__title{
	font-size: 66px;
	color:#fff;
	font-weight: bold;
	text-transform: uppercase;
}

.title{
	font-size: em($h1FZ);
}

.title__desc{
	font-size: em($h1desc);
}
