//DEFAULT STYLE//
.top-line{
	position: relative;
	@include clearfix;
	&__logo{
		display: inline-block;
		margin-top: 24px;
		@include MQ(sm) {
			
		}
		@include MQ(xs) {
			display: block;
			float: none;
			text-align: center;
			margin-left: 0;
			margin-top: 15px;
			margin-bottom: 15px;
		}
	}
	&__shop{
		display: block;
		font-size: 16px;
		background: rgba(255,255,255,.2);
		color: #fff;
		text-align: center;
		padding: 14px 14px;
		border-radius: 25px;
		margin: 9px 0;
		transition:1s all;
		@include MQ(sm) {
			margin-right: 10px;
		}
		@include MQ(xs) {
			float: none;
			font-size: 1em;
			margin-right: 0;
		}
		&:hover{
			transition:1s all;
			color: #fff;
			background: rgba(255,255,255,.1);
		}
	}
}

.top-banner{
	position: relative;
	&__img{
		display: block;
		margin: 0 auto;
		text-align: center;
	}
}

.header-title-wrapper{
	@include clearfix;
	padding-top: 90px;
	text-align: left;
	@include MQ(xs){
		padding-top: 30px;
	}
}

.header{
	position: relative;
	background: #55a6d3 url(https://fast.ulmart.ru/ns/verstka/calendar_2017_august/img/header-bg.jpg)no-repeat center center;
	min-height: 598px;
	&:before{
		content: "";
		display: block;
		width: 100%;
		background:url(https://fast.ulmart.ru/ns/verstka/calendar_2017_august/img/main-before.png)no-repeat right bottom;
		height: 352px;
		position: absolute;
		top: 246px;
	}
	&-title{
		font-family: 'SegoeUI', 'Roboto', sans-serif;
		font-size: 72px;
		color: #fff;
		font-weight: 300;
		margin: 0 0 40px 0;
		line-height: 1;
		span{
			font-family: 'SegoeUI', 'Roboto', sans-serif;
			font-weight: 600;
		}
		&__text{
			font-family: 'SegoeUI', 'Roboto', sans-serif;
			font-size: 16px;
			font-weight: 300;
			color: #fff;
			position: relative;
			z-index: 101;
			margin-bottom: 70px;
			line-height: 1.6;
			a{
				color: #fff;
				&:hover{
					text-decoration: none;
					color: #fff;
				}
			}
		}
		&__btn{
			font-family: 'SegoeUILight', 'Roboto', sans-serif;
			font-size: 18px;
			color: #fff;
			text-align: center;
			border-radius: 25px;
			border:1px solid #fff;
			padding: 12px 65px;
			display: inline-block;
			position: relative;
			z-index: 110;
			transition:1s all;
			&:hover{
				transition:1s all;
				background: #fff;
				border:1px solid #fff;
				color: #46a6e3;
			}
			&:focus{
				background: #fff;
				border:1px solid #fff;
				color: #46a6e3;
				text-decoration: none;
				outline: none;
			}
		}
	}
}

.header__banner{
	display: block;
	margin: 0 auto;
}

.title{
	font-size: em($h1FZ);
}

.title__desc{
	font-size: em($h1desc);
}

.card-everyday-wrapper{
	position: relative;
	height: 440px;
	width: 263px;
}

.card-everyday{
	position: relative;
	&:before{
		content: "Скидка дня";
		display: block;
		
		width: 150px;
		height: 35px;
		color: #fb736d;
		background-color: #fefefe;
		position: absolute;
		z-index: 100;
		top: -35px;
		text-align: center;
		line-height: 35px;
		border-top-right-radius: 5px;
		border-top-left-radius: 5px;
	}
}

.card-sale-day{
	font-family: 'SegoeUISemiBold', 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #fb736d;
	text-transform: uppercase;
	text-align: center;
	width: 148px;
	height: 36px;
	background: #fefefe;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	position: absolute;
	z-index: 100;
	line-height: 36px;
	top: -36px;
}

.card-everyday-wrapper .col-lg-18 .card-wrapper{
	overflow: visible !important;
	margin-bottom: 85px;
}


#toTop {
	width:55px;
	height: 55px;
	border-width: 1px;
	border-color: rgb(255, 255, 255);
	border-style: solid;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 13px 0px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	z-index: 300;
	position:fixed;
	bottom:50px;
	right:150px;
	display: none;
	&:before{
		content: "";
		display: block;
		width: 26px;
		height: 14px;
		background: url(https://fast.ulmart.ru/ns/verstka/calendar_2017_august/img/arr-top.png)no-repeat;
		margin: 17px auto 0 auto;
	}
}

