include blocks/head-service/head
include common/mixins
include common/js


body
	.layout_center_wrapper-project
		header.header
			.container__inner
				+top-line()
				.header-title-wrapper
					.col-lg-7.col-md-7.col-sm-7.col-xs-15
						h1.header-title
							|Прогноз 
							span скидок
						.header-title__text
							|В начале каждого месяца мы публикуем расписание скидок на самые разные товары в формате календаря. Это уникальные предложения, которые действуют всего один день.
							br
							|Чтобы приобрести товар по специальной цене, вам необходимо дождаться дня действия акции и перейти к выбору товара из «карточки дня». 
							br
							|Обратите внимание, что на большинство товаров скидка предоставляется по промокоду. По всем вопросам вы можете связаться с нами через колл-центр, либо форму обратной связи на сайте 
							a(href="https://www.ulmart.ru/", class="modal-title__link", target="_blank") ulmart.ru
						//- a(href="#", class="header-title__btn") Как это работает?
					.col-lg-offset-3.col-lg-3.col-md-offset-3.col-md-3.col-sm-offset-1.col-sm-5.col-xs-15
						.card-everyday-wrapper
							each item, number in cards
								if ((number % 1) == 0)
									each item, j in cards.slice(number, number+1)
										.col-lg-18
											+active-cards-header(item)
		section.make__section
			.tabbed
				.container-fluid
					.row
						.col-lg-3.col-lg-offset-5.col-md-7.col-sm-offset-1.col-sm-7.col-md-offset-1.col-xs-15.np
							.tabbed__wrap
								input#tab-nav-1(type='radio', name='tabs')
								label(for='tab-nav-1') Завершённые
						.col-lg-3.col-md-7.col-sm-7.col-xs-15.np
							.tabbed__wrap.tabbed__wrap__checked
								input#tab-nav-2(type='radio', name='tabs', checked='')
								label(for='tab-nav-2') Прогноз
		.tabs__wrapper.tabs__wrapper__online
			main.main
				.container
					- var date = new Date();

					each item, number in cards
						if ((number % 5) == 0)
							each item, j in cards.slice(number, number+5)
								+grid-3()
									+active-cards(item)
		.tabs__wrapper.tabs__wrapper__offline
			main.main
				.container
					- var date = new Date();
					each item, number in cards
						if ((number % 5) == 0)
							.row
								each item, j in cards.slice(number, number+5)
									+grid-3()
										+active-cards(item)

		div(id="modal-form", class="modal-form")
			span#modal-close
			.modal__wrapper
				.modal-title__wrapper
					h2.modal-title
						|Как это работает ?
					.modal-title__text
						|В начале каждого месяца мы публикуем список категорий и скидок на них в формате календаря. Это уникальные предложения, которые действуют всего один день.
					.modal-title__text
						|Вы сразу можете увидеть в какой день и на какую категорию товаров мы подготовили спецпредложение. Чтобы принять участие в акции, вам необходимо дождаться дня действия акции и перейти в каталог товаров кликнув на активную «карточку дня».
					.modal-title__text
						|Обратите внимание, в определенные дни скидка предоставляется по промокоду (в таком случае, он указан в активной «карточке дня»). По всем возникшим вопросам вы можете связаться с нами через колл-центр, либо форму обратной связи на сайте 
						a(href="https://www.ulmart.ru/", class="modal-title__link", target="_blank") ulmart.ru
						|.
						br
						|Удачных и выгодных покупок!

		#overlay
		#toTop

		//- main.main
		//- 	.container__inner
		//- 		.container-fluid
		//- 			.tabbed
		//- 				.container
		//- 					.row
		//- 						.col-lg-3.col-lg-offset-5.col-md-5.col-md-offset-1.col-sm-6.col-xs-12.np
		//- 							.tabbed__wrap
		//- 								input#tab-nav-1(type='radio', name='tabs')
		//- 								label(for='tab-nav-1') Завершённые
		//- 						.col-lg-3.col-md-5.col-sm-6.col-xs-12.np
		//- 							.tabbed__wrap.tabbed__wrap__checked
		//- 								input#tab-nav-2(type='radio', name='tabs', checked='')
		//- 								label(for='tab-nav-2') Прогноз
		//- 			.row
		//- 				//- Состояния карточек
		//- 				//- Ожидается
		//- 				.col-lg-3.col-md-3.col-sm-6.col-xs-12
		//- 					.card-wrapper
		//- 						.card-disable.card-default
		//- 							.card-top
		//- 								img(src="../img/card-example.jpg", alt="image", width="270px", height="184px", class="card-top__img")
		//- 								.card-top__day
		//- 									|4 августа
		//- 							.card-middle
		//- 								.card-middle__title
		//- 									|Автохолодильники и аккумуляторы холода
		//- 								.card-middle__sale
		//- 									|-15%
		//- 								.card-middle__promocode
		//- 							.card-bottom
		//- 								a(href="#", target="_blank", class="card-bottom__link")
		//- 									span Перейти к покупке

		//- 				//- Активная
		//- 				.col-lg-3.col-md-3.col-sm-6.col-xs-12
		//- 					.card-wrapper
		//- 						.card-active.card-default
		//- 							.card-top
		//- 								img(src="../img/card-example.jpg", alt="image", width="270px", height="184px", class="card-top__img")
		//- 								.card-top__day
		//- 									|4 августа
		//- 							.card-middle
		//- 								.card-middle__title
		//- 									|Автохолодильники и аккумуляторы холода
		//- 								.card-middle__sale
		//- 									|-15%
		//- 								.card-middle__promocode
		//- 									|Промокод: 
		//- 									span 4августа
		//- 							.card-bottom
		//- 								a(href="#", target="_blank", class="card-bottom__link") 
		//- 									span Перейти к покупке




						.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.card__wrapper
								.card__disable.card__default
									.card__number
										|16
									.card__day
										|понедельник
									.card__sale
										span -30%
									.card__icon
									.card__category
										|декоративная косметика
									a(href="#", target="_blank", class="card__link")
										|Ожидается
						.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.card__wrapper
								.card__active.card__default
									.card__number
										|13
									.card__day
										|понедельник
									.card__sale
										span -30%
									.card__icon
										img(src="../img/card__icon.png", alt="")
									.card__category
										|декоративная косметика
									a(href="#", target="_blank", class="card__link")
										|перейти к покупкам>
						.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.card__wrapper
								.card__completed.card__default
									.completed
										|завершено
									.card__number
										|10
									.card__day
										|понедельник
									.card__sale
										span -30%
									.card__icon
									.card__category
										|декоративная косметика
						.col-lg-3.col-md-3.col-sm-6.col-xs-12
							.card__wrapper
								.card__empty.card__default
									.card__number
										|15
									.card__day
										|понедельник
									.card__icon
									.card__category
										|скидки
										br
										|затаились

		
			
				

	+footer-text()


	include blocks/footer-service/footer-service
