@font-face {
		font-family: 'SegoeUIBold';
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIBold.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIBold.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIBold.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIBold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUIItalic';
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIItalic.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIItalic.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIItalic.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIItalic.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUILight';
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUILight.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUILight.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUILight.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUILight.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUIRegular';
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIRegular.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/font/sSegoeUIRegular.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIRegular.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUIRegular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUISemiBold';
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUISemiBold.eot');
		src: url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUISemiBold.eot?#iefix') format('embedded-opentype'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUISemiBold.woff') format('woff'),
				 url('https://fast.ulmart.ru/ns/verstka/calendar_2017_august/fonts/SegoeUISemiBold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}