@font-face {
		font-family: 'SegoeUIBold';
		src: url('../foSegoeUIBold.eot');
		src: url('../foSegoeUIBold.eot?#iefix') format('embedded-opentype'),
				 url('../foSegoeUIBold.woff') format('woff'),
				 url('../foSegoeUIBold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUIItalic';
		src: url('../fontSegoeUIItalic.eot');
		src: url('../fontSegoeUIItalic.eot?#iefix') format('embedded-opentype'),
				 url('../fontSegoeUIItalic.woff') format('woff'),
				 url('../fontSegoeUIItalic.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUILight';
		src: url('../fonSegoeUILight.eot');
		src: url('../fonSegoeUILight.eot?#iefix') format('embedded-opentype'),
				 url('../fonSegoeUILight.woff') format('woff'),
				 url('../fonSegoeUILight.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUIRegular';
		src: url('../fontsSegoeUIRegular.eot');
		src: url('../fontsSegoeUIRegular.eot?#iefix') format('embedded-opentype'),
				 url('../fontsSegoeUIRegular.woff') format('woff'),
				 url('../fontsSegoeUIRegular.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}

@font-face {
		font-family: 'SegoeUISemiBold';
		src: url('../fonts/SegoeUISemiBold.eot');
		src: url('../fonts/SegoeUISemiBold.eot?#iefix') format('embedded-opentype'),
				 url('../fonts/SegoeUISemiBold.woff') format('woff'),
				 url('../fonts/SegoeUISemiBold.ttf') format('truetype');
		font-weight: normal;
		font-style: normal;
}